@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 78 50% 92%;
    --foreground: 78 44% 20%;

    --card: 78 50% 90%;
    --card-foreground: 78 44% 20%;

    --popover: 78 50% 92%;
    --popover-foreground: 78 44% 20%;

    --primary: 78 44% 20%;
    --primary-foreground: 78 50% 92%;

    --secondary: 108 53% 89%;
    --secondary-foreground: 78 44% 20%;

    --muted: 108 43% 89%;
    --muted-foreground: 78 5% 37%;

    --accent: 138 78% 90%;
    --accent-foreground: 138 78% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 108 33% 91%;
    --input: 108 33% 91%;
    --ring: 78 44% 20%;

    --radius: 0.5rem;

    --sidebar-background: 78 50% 92%;

    --sidebar-foreground: 78 44% 25%;

    --sidebar-primary: 78 44% 20%;

    --sidebar-primary-foreground: 78 50% 92%;

    --sidebar-accent: 108 53% 89%;

    --sidebar-accent-foreground: 78 44% 20%;

    --sidebar-border: 108 33% 91%;

    --sidebar-ring: 108 23% 75%;

    --chart-1: 78 58% 39%;

    --chart-2: 108 76% 61%;

    --chart-3: 138 37% 24%;

    --chart-4: 168 74% 66%;

    --chart-5: 198 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 78 4% 14%;
    --foreground: 78 24% 70%;

    --card: 78 4% 10%;
    --card-foreground: 78 24% 70%;

    --popover: 78 4% 14%;
    --popover-foreground: 78 24% 70%;

    --primary: 78 24% 85%;
    --primary-foreground: 78 4% 14%;

    --secondary: 108 23% 14%;
    --secondary-foreground: 78 24% 70%;

    --muted: 108 18% 14%;
    --muted-foreground: 108 23% 75%;

    --accent: 138 38% 18%;
    --accent-foreground: 138 78% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 108 18% 14%;
    --input: 108 13% 25%;
    --ring: 108 23% 83%;
    --sidebar-background: 78 4% 14%;
    --sidebar-foreground: 108 53% 95%;
    --sidebar-primary: 138 78% 55%;
    --sidebar-primary-foreground: 78 24% 70%;
    --sidebar-accent: 108 18% 14%;
    --sidebar-accent-foreground: 108 53% 95%;
    --sidebar-border: 108 18% 14%;
    --sidebar-ring: 108 23% 83%;
    --chart-1: 78 70% 50%;
    --chart-2: 198 75% 55%;
    --chart-3: 108 80% 55%;
    --chart-4: 358 65% 60%;
    --chart-5: 238 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}